:root {
  --color-1: #f1f1f1;
  --color-2: #ffffff;
  --color-3: #29ceff;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100dvh;
  background-color: var(--color-1);
  padding: 1rem;
  display: grid;
  grid-template: max-content 1fr / 1fr 1fr;
  gap: 1rem;
  align-items: start;
}

.container .new-book-btn {
  align-self: center;
  justify-self: end;
  background-color: var(--color-3);
  color: var(--color-2);
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  transition: all 0.05s ease-in-out;
}

.container .new-book-btn:hover {
  transform: scale(1.05);
}

.container .new-book-btn:active {
  transform: none;
}

.container .new-book-dialog {
  background-color: var(--color-2);
  border-radius: 1rem;
  border: 0;
  border-left: 0.33rem solid var(--color-3);
  border-bottom: 0.33rem solid var(--color-3);
  padding: 0;
  margin: auto;
}

.container .new-book-dialog::backdrop {
  background-color: rgba(0 0 0 / 0.6);
}

.container .new-book-dialog form {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  gap: 1rem 1rem;
  align-items: center;
}

.container .new-book-dialog form h2 {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}

.container .new-book-dialog label {
  text-align: right;
}

.container .new-book-dialog input {
  grid-column: 2 / -1;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-1);
  padding: 0.2rem 1rem;
}

.container .new-book-dialog input:focus {
  outline: 0.1rem solid var(--color-3);
}

.container .new-book-dialog button {
  margin-top: 1rem;
  background-color: var(--color-3);
  border: none;
  border-radius: 1rem;
  padding: 0.33rem 1rem;
  transition: all 0.1s ease-in-out;
}

.container .new-book-dialog button:hover {
  transform: scale(1.05);
}

.container .new-book-dialog button:active {
  transform: scale(0.95);
}

.container .new-book-dialog .new-book-add-btn {
  grid-column: 2 / span 1;
}

.container .library {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.container .library .book-container {
  background-color: var(--color-2);
  border-radius: 1rem;
  border-left: 0.33rem solid var(--color-3);
  border-bottom: 0.33rem solid var(--color-3);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.container .library .book-container .book-name-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .library .book-container .book-delete-btn {
  background-color: var(--color-3);
  color: var(--color-1);
  padding: 0.33rem;
  border: 0;
  border-radius: 0.67rem;
}

.container .library .book-container .book-pages {
  font-weight: 300;
}

.container .library .book-container .book-read-container {
  margin-top: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  font-weight: 300;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 500,
    "GRAD" 0,
    "opsz" 24;
}
