:root {
  --color-1: #f1f1f1;
  --color-2: #ffffff;
  --color-3: #29ceff;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100dvh;
  background-color: var(--color-1);
  padding: 1rem;
  display: grid;
  grid-template: max-content 1fr / 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

.container .new-book-btn {
  justify-self: end;
  background-color: var(--color-3);
  color: var(--color-2);
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  transition: all 0.05s ease-in-out;
}

.container .new-book-btn:hover {
  transform: scale(1.05);
}

.container .new-book-btn:active {
  transform: none;
}

.container .library {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.container .library .book-container {
  background-color: var(--color-2);
  border-radius: 1rem;
  border-left: 0.33rem solid var(--color-3);
  border-bottom: 0.33rem solid var(--color-3);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.container .library .book-container:hover {
  transform: scale(1.02);
}

.container .library .book-container:active {
  transform: none;
}

.container .library .book-container .book-pages {
  font-weight: 300;
}

.container .library .book-container .book-read-container {
  margin-top: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  pointer-events: none;
  font-weight: 300;
}
